<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new Recipes</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"/>
</head>

<body style="font-size: 150%">
    <div class="container  p-4  w-60">
            <h1 class="display-4">Add a New Recipe!</h1>
            {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                <p class=" text-danger ">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="container mt-4">
                <form action="/registers/{{register.id}}/update" class="col-md-8 bg-dark p-3 w-100" method="post">
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{register.name}}">
                    </div>
                    <div class="form-group">
                        <label for="description" class="text-light">Description</label>
                        <textarea class="form-control" id="description" name="description">{{register.description}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="instruction" class="text-light">Instructions</label>
                        <textarea class="form-control" id="instruction" name="instructione">{{register.instructione}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="dateMade" class="text-light">Date Cooked/Made:</label>
                        <input type="date" class="form-control"  name="date_m_ade" value="{{register.date_m_ade}}" >
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <legend class="text-light"><h3>Under 30 Minutes?</h3></legend>
                            {% if register.under == 0 %}
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="yes" name="under" value="1" checked>
                                <label class="form-check-label text-light" for="yes">Yes</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="no" name="under" checked="checked" value="0">
                                <label class="form-check-label text-light" for="no">No</label>
                            </div>
                            {%else%}
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="yes" name="under" checked="checked" value="1" checked>
                                <label class="form-check-label text-light" for="yes">Yes</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="no" name="under"  value="0">
                                <label class="form-check-label text-light" for="no">No</label>
                            </div>
                            {%endif%}
                        </fieldset>
                    </div>
                    <button type="submit" class="btn btn-success mt-3">Submit</button>
                </form>
                <div class="mt-3"><a href="/registers">Back to recipes</a></div>
            </div>
</body>
</html>