<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/process" method="post">
    <div>
        <label for="">Your Name</label>
        <input type="text">
    </div>
    <div>
        <select name="dojo location" id="">
            <option value="">ans jose</option>
            <option value="">chicago</option>
            <option value="">seattle</option>
            <option value="">washington</option>
            <option value="">Seattle Wa</option>
        </select>
    </div>
    <div>
        <select name="Favorite Language" id="">
            <option value="">html</option>
            <option value="">Css</option>
            <option value="">java script</option>
            <option value="">python</option>
        </select>
    </div>
    <div>
        <div>
            <label for="">Comment (optional)</label>
            
        
    </div>
    <div>
        <input type="text">
    </div>
    <div>
        <button>button</button>
    </div>
</form>

</body>
</html>